<!DOCTYPE html>
<head>
    <title>Inventory</title>
</head>
<body>
    <%- include('partials/navigation') %>
    <h1>Inventory</h1>
        <table class="inventoryTable">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Ingredient Name</th>
                    <th>Quantity</th>
                </tr>
            </thead>
            <tbody>
                <% inventory.forEach(item => { %>
                <tr>
                    <td><%= item.ingredient_id%></td>
                    <td><%= item.ingredient%></td>
                    <td><%= item.quantity%></td>
                    <td>
                    <form action="/delete-ingredient" method="POST" style="display:inline;">
                        <input type="hidden" name="ingredient" value="<%= item.ingredient %>">
                        <button type="submit">Delete</button>
                    </td>
                    </form>
                </tr>
            <% }); %>
            </tbody>
        </table>
   <h2>Add New Ingredient</h2>
   <form action="/add-ingredient" method="POST">
    <input type="text" name="ingredient" placeholder="Ingredient Name" required>
    <input type="number" name="quantity" placeholder="Quantity" required>
    <button type="submit">Add to Inventory</button>
</form>
</body>