<!DOCTYPE html>
<head>
    <title>Employees</title>
    <link rel="stylesheet" href="/manager/manager.css">
</head>
<body>
    <%- include('../partials/navigation-manager') %>
    <h1>Employees</h1>
    <table class="employeeTable" border="1">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Hours</th>
            <th>Delete</th>
        </tr>
        <% employees.forEach(employee => { %>
        <tr>
            <td><%= employee.employee_id %></td>
            <td><%= employee.employee_name %></td>
            <td><%= employee.hours %></td>
            <td>
                <form action="/delete-employee" method="POST" style="display:inline;">
                    <input type="hidden" name="employee_id" value="<%= employee.employee_id %>">
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
    <% }) %>
    </table>
   <h2>Add New Employee</h2>
   <form action="/add-employee" method="POST">
    <input type="number" name="employee_id" placeholder="Employee ID" required>
    <input type="text" name="employee_name" placeholder="Employee Name" required>
    <input type="number" name="hours" placeholder="hours" required>
    <button type="submit">Add to Employee</button>
</form>
</body>