<!DOCTYPE html>
<head>
    <title>Inventory</title>
    <link rel="stylesheet" href="/manager/manager.css">
</head>
<body>
    <%- include('../partials/navigation-manager') %>
    <h1>Inventory</h1>
        <!-- Table containing all inventory information -->
        <table class="inventoryTable" border="1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Ingredient Name</th>
                    <th>Quantity</th>
                </tr>
            </thead>
            <tbody>
                <% inventory.forEach(item => { %>
                <tr>
                    <td><%= item.ingredient_id%></td>
                    <td><%= item.ingredient%></td>
                    <td><%= item.quantity%></td>
                    <td>
                    <!-- Button for deleting an ingredient from the database -->
                    <form action="/delete-ingredient" method="POST" style="display:inline;">
                        <input type="hidden" name="ingredient" value="<%= item.ingredient %>">
                        <button type="submit">Delete</button>
                    </form>
                    </td>
                </tr>
            <% }); %>
            </tbody>
        </table>
   <h2>Add New Ingredient</h2>
    <!-- Button and text fields for adding a new ingredient to the databse -->
   <form action="/add-ingredient" method="POST">
        <input type="text" name="ingredient" placeholder="Ingredient Name" required>
        <input type="number" name="quantity" placeholder="Quantity" required>
        <button type="submit">Add to Inventory</button>
    </form>
    <h3>Update Quantity</h3>
    <form action="/update-ingredient" method="POST">
        <input type="number" name="ingredient_id" placeholder="Ingredient ID" required>
        <input type="number" name="quantity" placeholder="Quantity" required>
        <button type="submit">Update Quantity</button>
    </form>
</body>
