<!DOCTYPE html>
<head>
    <title>Menu</title>
    <link rel="stylesheet" href="/manager/manager.css">
</head>

<body>
<%- include('../partials/navigation-manager') %>
<h1>Menu</h1>
<!-- Table containing all menu information -->
<table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Cost</th>
        <th>Ingredients</th>
        <th>Category</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <% menu.forEach(item => { %>
        <tr>
            <td><%= item.item_id %></td>
            <td><%= item.item_name %></td>
            <!-- Relevant information fields are editable text fields populated by default with their database value that can be updated manually -->
            <form action="/edit-menu-item" method="POST">
                <input type="hidden" name="item_id" value="<%= item.item_id%>">
                <td>
                    $<input type="number" step="0.01" name="cost" value="<%=item.cost %>">
                </td>
                <td>
                    <input type="text" name="ingredients" value="<%=item.ingredients%>">
                </td>
                <td>
                    <select name="category">
                        <option value="classic" <%= item.category === 'classic' ? 'selected' : '' %>>Classic</option>
                        <option value="green" <%= item.category === 'green' ? 'selected' : '' %>>Green Tea</option>
                        <option value="fruit" <%= item.category === 'fruit' ? 'selected' : '' %>>Fruit</option>
                        <option value="coffee" <%= item.category === 'coffee' ? 'selected' : '' %>>Coffee</option>
                        <option value="specialty" <%= item.category === 'specialty' ? 'selected' : '' %>>Specialty</option>
                        <option value="default" <%= item.category === 'default' ? 'selected' : '' %>>Default</option>
                    </select>
                </td>
                <td>
                    <button type="submit">Save Edits</button>
                </td>
            </form>
            <td>
                <!-- Button for deleting an item from the database -->
                <form action="/delete-menu-item" method="POST">
                    <input type="hidden" name="item_id" value="<%= item.item_id %>">
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
    <% }) %>
</table>

<h2>Add Menu Item</h2>
<!-- Button and text fields for adding a new menu item -->
<form action="/add-menu-item" method="POST">
    <input type="text" name="item_name" placeholder="Item name" required>
    <input type="number" step="0.01" name="cost" placeholder="Cost" required>
    <input type="text" name="ingredients" placeholder="Ingredients">
    <select name="category" required>
        <option value="" disabled selected>Select Category</option>
        <option value="classic">Classic</option>
        <option value="green">Green Tea</option>
        <option value="fruit">Fruit</option>
        <option value="coffee">Coffee</option>
        <option value="specialty">Specialty</option>
        <option value="default">Default</option>
    </select>
    <button type="submit">Save</button>
</form>
</body>
