<html>
    <head>
        <title>Active Orders</title>
        <link rel="stylesheet" href="/cashier/cashier.css">
    </head>
    <body>
    <!-- Navigation -->
    <%- include('../partials/navigation-cashier') %>
    <!-- Main Content -->
    <main class="content-wrapper-active-orders">
        <h1 class="page-title">Active Orders</h1>
        <!-- Box Containing Order Cards -->
        <div class="orders-container">
            <% if (orders.length === 0) { %>
                <p>No active orders at the moment.</p>
            <% } else { %>
                <% orders.forEach(order => { %>
                    <div class="order-card" id="order-<%= order.id %>">
                        <h3>Order #<%= order.id %></h3>
                        <!-- List of each drink in the order -->
                        <ul class = "checklist">
                            <% order.items.forEach(item => { %>
                                <li> <%= item.name %>: $<%= Number(item.price).toFixed(2) %></li>
                            <% }); %>
                        </ul>
                        <button class="complete-button" onclick="completeOrder(<%= order.id %>)">Order Complete</button>
                    </div>
                <% }); %>
            <% } %>
        </div>
    </main>

    <script>
        async function completeOrder(orderId) {
            // Send request to server to save this order to the DB and remove it from the list
            const response = await fetch(`/api/complete-order/${orderId}`, { method: 'POST' });
            
            if (response.ok) {
                // Remove the card from the UI
                document.getElementById(`order-${orderId}`).remove();
            }
        }
    </script>
    <script src="/Cashier/script.js"></script>
    </body>
</html>